   <div class="flexbox">
<!-メニューリスト->
            <div class="flex1">
                    <div class="logo">
                        <a href="index.html">ロゴ画像</a>
                    </div>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action list-group-item-light">ログイン</a>
                        <a href="travels_index.html" class="list-group-item list-group-item-action list-group-item-light">スケジュール</a>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-light">チェックリスト</a>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-light">お問い合わせ</a>
                    </div>
            </div>

<!-メインコンテンツ ->
            
                <div class="flex2">
                    <div class ="top_container">
                        <h1>サービス説明</h1>
                        <p>旅行のプランニングに使えるサイトですよ的なこと</p>
                        <button type="button" class="btn btn-light">スケジュール作成</button>
                    </div>
                    <div class="about">
                        <p>使い方説明aboutaboutabout</p>
                </br>
                </br> 
                </br>
                </br> 
                </br> 
                </br> 
                </br>
                </br> 
                </br>
                 </br>
                </br> 
                </br>
                </br> 
                </br> 
                </br> 
                </br>
                </br> 
                </br>
                 </br>
                </br> 
                </br>
                </br> 
                </br> 
                </br> 
                </br>
                </br> 
                </br>
                
                    </div>
                </div>
        </div>    
    
<footer>footer</footer>
     