// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.flexbox{
	display:flex;
	margin:10px;
	
}

.logo{
width:130px	
}
.flex1{
		width:150px;
		margin:10px;
	
	
				}


.top_container{
		padding-right:30px;
		padding-bottom:100px;
		background-image: url(/assets/top_background.jpg); 
		background-size:cover;
		background-repeat:no-repeat;
	color:white;
	text-align:right;
	
	}
	
	.container{
		color:gray;
	
	}
	
	.flex2{
		flex:2;
	}
.about{color:gray;
			}

	footer{
		position:absolute;
		bottom:0px;
		color:white;
		width:100%;
	background-color:gray;}